
@{
    ViewBag.Title = "Cập nhập thông tin bác sĩ";
    Layout = "~/Views/Shared/Doctor/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Cập nhập thông tin bác sĩ</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Thông tin căn bản</h3>
                    <form class="form-material form-horizontal">
                        <div class="form-group">
                            <label class="col-md-12" for="example-text">
                                Họ Tên
                            </label>
                            <div class="col-md-12">
                                <input type="text" id="example-text" name="example-text" class="form-control" placeholder="enter your name" value="Jonathan Doe">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12" for="bdate">
                                Ngày sinh
                            </label>
                            <div class="col-md-12">
                                <input type="text" id="bdate" name="bdate" class="form-control mydatepicker" placeholder="enter your birth date" value="12/10/2017">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12">Giới tính</label>
                            <div class="col-sm-12">
                                <select class="form-control">
                                    <option>Chọn giới tính</option>
                                    <option selected="selected">Nam</option>
                                    <option>Nữ</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12">Hình cá nhân</label>
                            <div class="col-sm-12">
                                <img class="img-responsive" src="/App_Themes/admin/plugins/images/users/d1.jpg" alt="" style="max-width:120px;">
                            </div>
                            <div class="col-sm-12">
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput"> <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div> <span class="input-group-addon btn btn-default btn-file">
                                        <span class="fileinput-new">Select file</span> <span class="fileinput-exists">Change</span>
                                        <input type="file" name="...">
                                    </span> <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12" for="special">
                                Chuyên khoa
                            </label>
                            <div class="col-md-12">
                                <input type="text" id="special" name="special" class="form-control" placeholder="e.g. Dentist" value="Neurosurgeon">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Giới thiệu ngắn</label>
                            <div class="col-md-12">
                                <textarea class="form-control" rows="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12" for="url">
                                Website URL
                            </label>
                            <div class="col-md-12">
                                <input type="text" id="url" name="url" class="form-control" placeholder="your website" value="http://www.example-website.com">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Lưu</button>
                        <button type="submit" class="btn btn-inverse waves-effect waves-light">Hủy</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="white-box">
                    <h3 class="box-title">Thông tin tài khoản bác sĩ</h3>
                    <form class="form-material form-horizontal">
                        <div class="form-group">
                            <label class="col-md-12" for="example-email">
                                Email
                            </label>
                            <div class="col-md-12">
                                <input type="email" id="example-email" name="example-email" class="form-control" placeholder="enter your email" value="jondoe@ex.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12" for="example-phone">
                                Số điện thoại
                            </label>
                            <div class="col-md-12">
                                <input type="text" id="example-phone" name="example-phone" class="form-control" placeholder="enter your phone" data-mask="(999) 999-9999" value="(123) 456-7890">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12" for="pwd">
                                Mật khẩu
                            </label>
                            <div class="col-md-12">
                                <input type="password" id="pwd" name="pwd" class="form-control" placeholder="enter your password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12" for="cpwd">
                                Xác nhận mật khẩu
                            </label>
                            <div class="col-md-12">
                                <input type="password" id="cpwd" name="cpwd" class="form-control" placeholder="confirm your password">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Lưu</button>
                        <button type="submit" class="btn btn-inverse waves-effect waves-light">Hủy</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="white-box">
                    <h3 class="box-title">Thông tin tài khoản mạng xã hội</h3>
                    <form class="form-material form-horizontal">
                        <div class="form-group">
                            <label class="col-md-12" for="furl">
                                Facebook URL
                            </label>
                            <div class="col-md-12">
                                <input type="text" id="furl" name="furl" class="form-control" value="http://www.facebook.com/username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12" for="turl">
                                Twitter URL
                            </label>
                            <div class="col-md-12">
                                <input type="text" id="turl" name="turl" class="form-control" value="http://www.twitter.com/username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12" for="gurl">
                                Google Plus URL
                            </label>
                            <div class="col-md-12">
                                <input type="text" id="gurl" name="gurl" class="form-control" value="http://www.plus.google.com/username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12" for="inurl">
                                LinkedIN URL
                            </label>
                            <div class="col-md-12">
                                <input type="text" id="inurl" name="inurl" class="form-control" value="http://www.linkedin.com/username">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Lưu</button>
                        <button type="submit" class="btn btn-inverse waves-effect waves-light">Hủy</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
</div>

@section scripts{
    <script src="/App_Themes/admin/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        // Date Picker
        jQuery('.mydatepicker').datepicker();
    </script>
}

@section styles{
    <link href="/App_Themes/admin/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
}
