
@{
    ViewBag.Title = "Trầm cảm";
    Layout = "~/Views/Shared/Patient/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <!-- .page title -->
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Tài liệu chuẩn đoán Trầm cảm</h4>
            </div>
            <!-- /.page title -->
            <!-- .breadcrumb -->
            @Html.Partial("_LoginRegister")
            <!-- /.breadcrumb -->
        </div>
        <!-- .row -->
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                   
                    <img src="/Documents/Depression/tramcam1.jpg" height="1200" width="1000" alt="Trang 1">
                    <img src="/Documents/Depression/tramcam2.jpg" height="1200" width="1000" alt="Trang 2">
                    <img src="/Documents/Depression/tramcam3.jpg" height="1200" width="1000" alt="Trang 3">
                    <img src="/Documents/Depression/tramcam4.jpg" height="1200" width="1000" alt="Trang 4">
                    <img src="/Documents/Depression/tramcam5.jpg" height="1200" width="1000" alt="Trang 5">
                    <img src="/Documents/Depression/tramcam6.jpg" height="1200" width="1000" alt="Trang 6">
                    <img src="/Documents/Depression/tramcam7.jpg" height="1200" width="1000" alt="Trang 7">
                    <img src="/Documents/Depression/tramcam8.jpg" height="1200" width="1000" alt="Trang 8">
                    <img src="/Documents/Depression/tramcam9.jpg" height="1200" width="1000" alt="Trang 9">

                </div>
            </div>
        </div>
        <!-- .row -->
    </div>
    <!-- /.container-fluid -->
    @Html.Partial("_Footer")
</div>

