
@{
    ViewBag.Title = "Lo âu";
    Layout = "~/Views/Shared/Patient/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <!-- .page title -->
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Tài liệu chuẩn đoán Lo âu</h4>
            </div>
            <!-- /.page title -->
            <!-- .breadcrumb -->
            @Html.Partial("_LoginRegister")
            <!-- /.breadcrumb -->
        </div>
        <!-- .row -->
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">

                    <img src="/Documents/Unrest/loau1.jpg" height="1200" width="1000" alt="Trang 1">
                    <img src="/Documents/Unrest/loau2.jpg" height="1200" width="1000" alt="Trang 2">
                    <img src="/Documents/Unrest/loau3.jpg" height="1200" width="1000" alt="Trang 3">
                    <img src="/Documents/Unrest/loau4.jpg" height="1200" width="1000" alt="Trang 4">
                    <img src="/Documents/Unrest/loau5.jpg" height="1200" width="1000" alt="Trang 5">
                    <img src="/Documents/Unrest/loau6.jpg" height="1200" width="1000" alt="Trang 6">
                    <img src="/Documents/Unrest/loau7.jpg" height="1200" width="1000" alt="Trang 7">
                    <img src="/Documents/Unrest/loau8.jpg" height="1200" width="1000" alt="Trang 8">


                </div>
            </div>
        </div>
        <!-- .row -->
    </div>
    <!-- /.container-fluid -->
    @Html.Partial("_Footer")
</div>


